/*
Fonts used:  Russo One, Questrial
*/

@import url('https://fonts.googleapis.com/css?family=Questrial');
@import url('https://fonts.googleapis.com/css?family=Russo_One');

html {
    scroll-behavior: smooth;
}

::selection {
    background: rgba(0, 255, 145, 0.51);
}



#home {
    background-color: #69696934;
    padding: 1em;
    border-radius: 10px;
    margin: 1em 0;
}

#home h1 {
    text-align: center;
    text-shadow: 2px 2px 2px #0062ff;
    -webkit-text-stroke: 0.1px #0062ff;
    padding: 5px;
    font-size: 1.8em;
}

#abilities {
    background-color: #69696934;
    padding: 1em;
    border-radius: 10px;
    margin: 1em 0;
}

#abilities h1 {
    text-align: center;
    text-shadow: 2px 2px 2px #b8a300;
    -webkit-text-stroke: 0.1px #b8a300;
    padding: 5px;
    font-size: 1.8em;
}

#abilities div {
    font-family: Russo One, Geneva, Tahoma, sans-serif;
    max-width: 65vw;
    text-shadow: 2px 2px 2px #000000;
    -webkit-text-stroke: 0.1px #000000;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 2px white solid;
    padding: 10px;
    border-radius: 5px;
}

.premiere {
    background: linear-gradient(90deg, #330d3eb1 100%, #0000004f 100%);
}

.effects {
    background: linear-gradient(90deg, #5e357db1 98%, #0000004f 98%);
}

.photoshop {
    background: linear-gradient(90deg, #1f7496b1 100%, #0000004f 100%);
}

.illustrator {
    background: linear-gradient(90deg, #a9741fb1 40%, #0000004f 40%);
}

.javascript {
    background: linear-gradient(90deg, #1fad61b1 45%, #0000004f 45%);
}

.html {
    background: linear-gradient(90deg, #a12b1cb1 60%, #0000004f 60%);
}

.css {
    background: linear-gradient(90deg, #9b1a77b1 60%, #0000004f 60%);
}
.design {
    background: linear-gradient(90deg, #1aa69db1 80%, #0000004f 80%);
}
.sullution {
    background: linear-gradient(90deg, #222c97b1 85%, #0000004f 85%);
}


#projects {
    background-color: #69696934;
    padding: 1em;
    border-radius: 10px;
    margin: 1em 0;
}

#projects h1 {
    text-align: center;
    text-shadow: 2px 2px 2px #007239;
    -webkit-text-stroke: 0.1px #007239;
    padding: 5px;
    font-size: 1.8em;
}

#projects p {
    font-size: 1.3em;
}

#experiments {
    background-color: #69696934;
    padding: 1em;
    border-radius: 10px;
    margin: 1em 0;
}

#experiments h1 {
    text-align: center;
    text-shadow: 2px 2px 2px #cd008c;
    -webkit-text-stroke: 0.1px #cd008c;
    padding: 5px;
    font-size: 1.8em;
}

#experiments p {
    font-size: 1.3em;
}


#projectshowcase {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
}

#projectshowcase a {
    color: white;
    text-decoration: none;
}

#card {
    background-color: #1f1f1feb;
    border-radius: 10px;
    max-width: 50vw;
    padding: 5px;
    max-width: 350px;
    margin: 0 auto;
    flex-grow: 1;
    border: 2px #4b4b4beb solid;
    transition: all 0.1s ease-out;
    cursor: pointer;
}

#card:hover {
    background-color: #504f4feb;
    border: 2px #8b8b8beb solid;
    transform: scale(1.02);
}

#title {
    text-align: center;
}

#date {
    margin: 0px;
}

#client {
    margin: 0px;
}

#hr {
    background-color: rgba(255, 0, 0, 0.473);
    border-radius: 5px;
    padding: 3px;
}

#de-groot {
    background-color: rgba(0, 103, 9, 0.473);
    border-radius: 5px;
    padding: 3px;
}

#stbuiten {
    background-color: rgba(103, 0, 77, 0.473);
    border-radius: 5px;
    padding: 3px;
}

#thv {
    background-color: rgba(13, 0, 255, 0.473);
    border-radius: 5px;
    padding: 3px;
}

#thumbnail {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

#contact,
#contact_forum {
    background-color: #69696934;
    padding: 1em;
    border-radius: 10px;
    margin: 1em 0;
}

#contact_forum h1 {
    text-align: center;
    text-shadow: 2px 2px 2px #7b00ff;
    -webkit-text-stroke: 0.1px #7b00ff;
    padding: 5px;
    font-size: 1.8em;
}

#contact_thanks {
    background-color: #69696934;
    padding: 1em;
    border-radius: 10px;
    margin: 1em 0;
}

#contact_thanks h1 {
    text-align: center;
    text-shadow: 2px 2px 2px #ff0000;
    -webkit-text-stroke: 0.1px #ff0000;
    padding: 5px;
    font-size: 1.8em;
}


#contact h1 {
    text-align: center;
    text-shadow: 2px 2px 2px #007239;
    -webkit-text-stroke: 0.1px #007239;
    padding: 5px;
    font-size: 1.8em;
}

#contact p {
    font-size: 1.3em;
}

#contact_item {
    background-color: #1f1f1feb;
    padding: 10px;
    border-radius: 10px;
    border: 2px #4b4b4beb solid;
    color: white;
    transition: all 0.1s ease-out;
}

#contact_item:hover {
    background-color: #118AB2;
    text-decoration: underline #118AB2;
    border: 2px #0c5a74 solid;
}

#contact a {
    color: white;
    text-decoration: none;
}

#contact_forum a {
    color: white;
}

h2 {
    text-shadow: 2px 2px 2px #000000;
    -webkit-text-stroke: 0.1px #000000;
    padding: 5px;
}


.forum-element {
    display: flex;
    flex-direction: column;
    align-content: center;
}

label {
    font-family: Questrial, Geneva, Tahoma, sans-serif;
    margin-top: 20px;
}

input,
select,
textarea {
    padding: 5px;
    margin: 5px 0;
    background-color: rgb(196, 196, 196);
    border: 0px;

}

#required {
    color: rgb(255, 0, 0);
    text-shadow: #000000 1px 1px;
}

button {
    max-width: 70vw;
    text-align: center;
    background-color: #1f1f1feb;
    border: 2px #4b4b4beb solid;
    padding: 15px;
    margin: 0px auto;
    margin-top: 20px;
    color: white;
    text-decoration: underline #1f1f1feb;
    transition: all 0.1s ease-out;
    border-radius: 10px;
    font-family: Questrial, Geneva, Tahoma, sans-serif;
    font-size: 1em;
}

button:hover {
    background-color: #118AB2;
    text-decoration: underline #118AB2;
    border: 2px #0c5a74 solid;
}

.mapouter {
    width: 500px;
    background-color: #1f1f1feb;
    border: #1f1f1feb 10px solid;
    outline: #4b4b4beb 2px solid;
    border-radius: 10px;
    display: none;
    margin: 0 auto;
    transition: all 0.1s ease-out;
}

.mapouter:hover {
    background-color: #118AB2;
    border: #118AB2 10px solid;
    outline: #0c5a74 2px solid;
}

#collumn {
    display: flex;
    flex-direction: column;
}

@media (min-width: 690px) {
    .mapouter {
        display: block
    }
}

@media (min-width: 1150px) {
    .mapouter {
        margin: 25px;
        margin-left: auto;
    }

    #collumn {
        flex-direction: row;
    }

    #contact_item {
        max-width: 28vw;
    }
}



body {
    margin: 0 auto;
    padding: 0;
    font-family: serif;
    font-size: 15px;
    background-color: #282828;
    color: #ffffff;
}

h1,
h2,
h3 {
    font-family: Russo One, Geneva, Tahoma, sans-serif;
}

a,
p,
div,
span {
    font-family: Questrial, Geneva, Tahoma, sans-serif;
}

main {
    width: 80vw;
    max-width: 1200px;
    min-width: 300px;
    margin: 0 auto;
}

.text-content {
    font-size: 1.2em;
    scroll-margin-top: 10px;
}

header {
    background-color: #1f1f1feb;
}

header video {
    width: 100%;
    max-height: 50vh;
    object-fit: cover;
}

nav {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: static;
    background-color: #1f1f1ff8;
}

.menu-link {
    padding: 20px;
    color: #ffffff;
    transition: all 0.1s ease-out;
    margin: 0 auto;
}

.menu-link:hover {
    background-color: #118AB2;
}

.normallink {
    color: white;
    text-decoration: underline #118AB2;
    transition: all 0.1s ease-out;
    text-underline-offset: 2px;
}

.normallink:hover {
    color: #118AB2;
}

main img {
    display: block;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 50vw;
    max-width: 300px;
    border-radius: 7px;
    transition: all 0.2s ease-in;
    filter: contrast(1);
}

main img:hover {
    filter: contrast(1);
    transition: all 0.2s ease-out;
    overflow: hidden;
    cursor: cell;
}

footer {
    font-size: 1.5em;
    text-align: center;
    padding: 20px;
    color: white;
    background-color: #1f1f1ff8;
    margin: 0 auto;
}

footer img {
    height: 40px;
    width: 40px;
    padding: 10px;
    border-radius: 10px;
    background-size: 100px;
    margin: 1px;
}

#youtube {
    background-color: #ff0000;
}

#youtube:hover {
    background-color: #ff0000;
}

#instagram {
    background-image: linear-gradient(to top right, #FFD600, #FF7A00, #FF0069, #D300C5, #7638FA);
}

#instagram:hover {
    background-image: linear-gradient(to top right, #FFD600, #FF7A00, #FF0069, #D300C5, #7638FA);
}

#github {
    background-color: #000000;
}

#github:hover {
    background-color: #000000;
}

#backtotop {
    position: sticky;
    text-align: center;
    top: 87vh;
    bottom: 20px;
    z-index: 2;
    background-color: #1f1f1feb;
    width: 36px;
    padding: 10px;
    border-radius: 10px;
    border: 2px #4b4b4beb solid;
    margin-top: -100px;
    left: 91vw;
    display: none;
    transform: translateY(0px);
    transition: all 0.2s ease-in;
}

#backtotop:hover {
    transform: translateY(-10px);
    transition: all 0.2s ease-out;

}

.back-to-top {
    text-decoration: none;
    font-size: 1.8em;
}

@media (min-width: 600px) {

    /** nav naast elkaar en niet onder elkaar, witrand om de website heen */
    nav {
        flex-direction: row;
        position: sticky;
        align-items: center;
        top: 0;
        z-index: 1;
    }

    .text-content {
        scroll-margin-top: 75px;
    }

    /** De hover effecten kunnen niet op mobile, dus ze staan uit na 600px. */
    main img {
        filter: contrast(0.8);
    }

    #footer img {
        background-color: #69696965;
    }

    #youtube {
        background-color: #69696965;
    }

    #instagram {
        background-image: linear-gradient(to top right, #69696965, #69696965, #69696965, #69696965, #69696965);
    }

    #github {
        background-color: #69696965;
    }

    #backtotop {
        display: block;
    }
}